adminPassword: <<REDACTED>>
adminUser: admin
image:
  tag: 12.3.1
nodeSelector:
  node.platform: amd64
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
service:
  type: ClusterIP
