alertmanager:
  enabled: false
grafana:
  enabled: false
prometheus:
  prometheusSpec:
    resources:
      limits:
        cpu: 1000m
        memory: 2Gi
      requests:
        cpu: 500m
        memory: 1Gi
    retention: 15d
