alertmanager:
  enabled: false
grafana:
  enabled: false
nodeSelector:
  node:
    platform: amd64
  node.platform: amd64
prometheus:
  prometheusSpec:
    resources:
      limits:
        cpu: 1000m
        memory: 2Gi
      requests:
        cpu: 500m
        memory: 1Gi
    retention: 15d
