auth:
  enabled: false
image:
  tag: latest
master:
  disableCommands: []
  persistence:
    enabled: false
metrics:
  image:
    tag: 1.62.0
nodeSelector:
  node:
    platform: amd64
  node.platform: amd64
replica:
  disableCommands: []
  replicaCount: 0
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
sentinel:
  image:
    tag: latest
