auth:
  enabled: false
image:
  tag: 8.4.0
master:
  disableCommands: []
  persistence:
    enabled: false
nodeSelector:
  node:
    platform: amd64
  node.platform: amd64
replica:
  disableCommands: []
  replicaCount: 0
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
